<%- include("navbar.ejs") %>
<div id="content" class="container-fluid bg-white p-4">
    <div class="row">
        <div class="container mt-5 mb-3">
            <h4>Export and Print Page</h4>
            <button class="btn btn-sm btn-success" onclick="downloadCSV()">Download CSV</button>
            <button class="btn btn-sm btn-warning" onclick="printPage()">Print Page</button>
            <a href="/admin/completed_service_enquiry"><button class="btn btn-sm btn-danger">Completed Enquiry</button></a>

        </div>
        <div class="mb-3 col-md-12 text-center">
            <h3>Service Uncomplete Enquiry list</h3>
        </div>
        <div class="mb-3 col-md-12">
            <div class="table-wrapper" style="overflow-x: auto; -webkit-overflow-scrolling: touch;">
            <table  class="table table-sm table-bordered">
                <tr>
                    <th>Action</th>
                    <th>Sr.no</th>
                    <th>Enquiry For</th>
                    <th>Enquirer Name</th>
                    <th>Enquirer Email</th>
                    <th>Enquirer Mobile No</th>
                    <th>Enquirer Message</th>
                    <th>Enquirer Date</th>
                    <th>Enquirer Time</th>


                </tr>
        <% for(var i=0;i<s_enquirys.length;i++) {     %>

                    <tr>
                        <td>
                            <a href="/admin/complete_service_enquiry/<%-s_enquirys[i].service_enquiry_id%>">
                                <button class="btn btn-primary" >Complete</button>
                            </a>
                        </td>
                        <td>
                            <%= 1+i %>
                        </td>
                        <td>
                            <%-s_enquirys[i].service_title%>
                        </td>
                        <td>
                            <%-s_enquirys[i].name%>
                        </td>
                        <td>
                            <%-s_enquirys[i].email%>
                        </td>
                        <td>
                            <%-s_enquirys[i].phone%>
                        </td>
                        <td>
                            <%-s_enquirys[i].information%>
                        </td>
                        <td>
                            <%-s_enquirys[i].currentdate%>
                        </td>
                        <td>
                            <%-s_enquirys[i].currenttime%>
                        </td>
                    </tr>
                    <% } %>
            </table>
            </div>
        </div>

        <div class="col-md-12 mt-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                   
                    <% for(var i=1; i<=total_pages; i++) { %>

                        <li class="page-item">
                            <a class="page-link" href="/admin/service_enquiry?page_no=<%=i%>">
                                <%= i %>
                            </a>
                        </li>
                        <% } %>

                          
                </ul>
            </nav>
        </div>


    </div>
</div>
<hr>

<%- include("footer.ejs") %>
